<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ./head %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p><button class="checkContent">Check</button>
    <div class="editable"></div>
    <hr>
    <div class="editable2"></div>
  </body>
</html>
